---
import { differenceInYears, parseISO } from 'date-fns'
import type { PostData } from '../../../domain/posts'
import Warning from '../banners/warning.astro'
import Container from '../headless/container.astro'
import PostBody from './post-body.astro'
import PostHeader from './post-header.astro'
import PostMetadata from './post-metadata.astro'

interface Props {
  post: PostData
}
const { post } = Astro.props
const diff = differenceInYears(new Date(), parseISO(post.date))
---
<article>
  <div>
    <PostHeader title={post.title} coverImage={post.coverImage} date={post.date} />
  </div>
  <Container>
    {diff > 1 && (
      <Warning text={`この記事は最終更新日から${diff}年以上が経過しています。`} />
    )}
    <PostMetadata post={post} variant="mobile" />
    <div class="flex flex-col lg:flex-row lg:gap-8">
      <div class="min-w-0 flex-1">
        <PostBody content={post.content} />
      </div>
      <aside class="hidden lg:block lg:w-56 lg:shrink-0">
        <PostMetadata post={post} variant="desktop" />
      </aside>
    </div>
  </Container>
</article>
